include includes/header
h2 edit task

form(action="/task/" + task._id method="post")
	input(placeholder="Title" type="text" name="title" value=`${task.title}`)
	input(placeholder="Description" type="text" name="description" value=`${task.description}`)
	input(type="checkbox" name="isPublic" checked=task.isPublic value)
	button(type="submit") Enter
