include includes/header

input(placeholder="Email" type="text" name="email" readonly="true" value=`${user.email}`)
input(placeholder="Username" type="text" name="username" readonly="true" value=`${user.username}`)



