include includes/header
h2 Signin

form(action="/signin" method="post")
	input(placeholder="Email" type="text" name="email")
	input(placeholder="Password" type="password" name="password")
	button(type="submit") Enter

