include includes/header
span Signin

form(action="/router/signin" method="post")
	input(placeholder="Email" type="text" name="email")
	input(placeholder="Password" type="password" name="password")
	button(type="submit") Enter
