include includes/header
span New task

form(action="/task" method="post")
	input(placeholder="Title" type="text" name="title")
	input(placeholder="Description" type="textarea" name="description")
	input(type="checkbox" name="isPublic" value)
	button(type="submit") Enter
